.App {
  min-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 28px;
}
button:hover {
  background: #c23866;
  color: #fff;
}
.board {
  display: flex;
  flex-wrap: wrap;
  margin: 5% 10%;
  gap: 25px;
}
.card-front {
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
  padding: 15px;
}
